<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Dengine" class="DieselEngine" ></bean>
    <bean id="Pengine" class="PetrolEngine" ></bean>
    <bean id="Cengine" class="CNGEngine" ></bean>



    <bean id="auto" class="Auto">
<!--        <property name="eng" ref="Pengine"></property>-->
        <constructor-arg name="eng" ref="Cengine"></constructor-arg>
    </bean>


</beans>